/* this css is for the sections of a webpage ( header, sections, articles, footers etc..)*/
/* combine to one css when done*/
/* for organization purposes*/

/* header styles */
header{
    height: 100px;
    background-color: #172F52;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: black;
}

header nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

header nav ul a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 18px;
}

header nav ul a:hover {
    color: gray;
}

footer{
    height: 50px;
    width: 100%;
    background-color: #172F52;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: black;
    position: absolute;
}

footer p{
    color: white;
}

/* style for main content of home page main body */
.main-home{
    display: flex;
    min-height: 100vh;
    width: 60%;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    border: solid rebeccapurple;
}
