/* this css if for the elements in a layout, (dropdown, logo etc..)*/
/* combine to one css when done*/
/* for organization purposes*/



/*following is for entry template*/
.main{
    border-color: black;
    padding: 15px;
    flex-direction: row;
    
}

.main h1{
    font-size: 40px;
}

.image-left{
    border: 2px solid black;
    float: left;
    margin-right: 20px;
}