/* this css if for the elements in a layout, (dropdown, logo etc..)*/
/* combine to one css when done*/
/* for organization purposes*/


/* styles for classes inside main-home */

.main-home-container{
    width: 60%;
    align-items: center;
    
}

.content-top-center-home{
    align-items: center;
    width: 100%;
    
}

.main-line{
    width: 100%;
    background: black;
    height: 5px;
    margin-bottom: 15px;
}

.home-top-box{
    margin-top: -5px;
    height: 70px;
    width: 100%;
    background: #152133;
    margin-bottom: 50px;
}


.home-top-box h2{
    color: white;
}

.home-top-box p{
    color: white;
    text-align: end;
}

.home-top-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* 
.content-top-center-home img{
    width: 100%;
} */

.home-main-img{
    width: 50%;
}

.content-left-home{
    width: 50%;
    height: 500px;
}

.content-right-home{

    width: 50%;
    height: 500px;
}

/* separate styles of each page by comment  */
/* styles for main-entry */

.content-left-entrytem{
    width: 30%;
    margin: auto;
}

.content-left-entrytem img{
    width: 100%;
}

.content-right-entrytem{
    width: 50%;
}